name: Publish

on:
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install poetry
        run: pip install poetry==1.1.15

      - name: Install Dependencies
        run: poetry install --no-dev

      - name: Build
        run: poetry build

      - name: Publish
        run: poetry publish -u __token__ -p ${{ secrets.PYPI_TOKEN }}
