name: Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]


jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install poetry
        run: pip install urllib3==1.26.15 poetry==1.6.1

      - name: Install dependencies
        run: make install

      - name: Static analysis
        run: make lint

  test:
    name: test (${{ matrix.python-version }}, old-deps - ${{ matrix.old-deps }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10" ]
        old-deps: [ "false" ]
        include:
          - python-version: "3.7"
            old-deps: "true"

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        run: pip install urllib3==1.26.15 poetry==1.6.1

      - name: Install dependencies
        run: make install

      - name: Install old dependencies versions
        if: matrix.old-deps == 'true'
        run: poetry run pip install -r requirements-old-versions.txt

      - name: Run tests
        run: make test

      - name: Upload coverage
        uses: codecov/codecov-action@v3
